// Пример: Modal.module.scss
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  margin: 100px auto;
  width: 30%;
  border-radius: 8px;
}

.modal-head {
  display: flex;
  align-items: center;
  justify-content: center;
}
